h1 {
    color:brown;
}

img {
    width:400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: green;
    padding:50px;
    border: goldenrod 3px solid;
}

#spanId {
    font-size: 25px;
    margin: 50px;
}
